<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<style>
  label{
    font-weight: bold;
  }
  
    body{
    min-height: 100vh;
    background: linear-gradient(-45deg,rgb(255, 166, 215),rgb(171, 161, 255))!important;
}
  
</style>
<body>
 
<div class="container col-lg-6">
  <h2 class="mt-5 pt-4 text-center"><%= title %></h2>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Name" name="name" required>
    </div>
    
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="text" class="form-control" id="age" placeholder="Enter Age" name="age" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary text-center btn-md">Add User</button> 
    </div>
  </form>
</div>
 
</body>

</html>